

.body{
  background-color: rgb(26, 26, 26);
  margin: 0;
}

.navbarSearch {
  margin-left: 600px;
}

.bg{
  background-color: rgb(208, 208, 208);
}


.textCard{
  background-color: rgb(2, 103, 235);
}

.card{
  border-radius: 500px;
  cursor: pointer;
}

/* // chiquito  */
@media all and (min-width: 200px) and (max-width: 768px) {

  .navbarSearch {
    margin-left: 0px;
    
  }

  .card{
    margin: 20px;
  }

  .cardPek{
    justify-content: center;
  }

}

/* // iphone  */
@media all and (min-width: 320px) and (max-width: 568px) {
  .card{
    margin: 60px
  }

  .navbarSearch {
    margin-left: 0px;
  
  }
}


/* iphone 6  */
@media all and (min-width: 414px) and (max-width: 736px){
  .card{
    margin: 60px
  }
}




/* // mediano  */
@media all and (min-width: 768px) and (max-width: 991px) {

  .card{
    margin: 70px;
  }
}

/* grande  */
@media all and (min-width: 991px) and (max-width: 1200px) {
 
}